	:root{
	--bgc-linear:linear-gradient(200deg, #0093E9 0%, #80D0C7 100%);

	}
	.container-login100::before{
		background: var(--bgc-linear);
	}
	.login100-form{
		padding: 2.0rem 1.4rem;
		background-color: #fff;
		color:#111;
	}
	.forget-password, .forget-password > a{
		padding-top: 1rem;
		color: #0093E9;
	}
	
	.other-registers{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.other-registers > div{
		margin-left: 1.2rem;
	}
	.other-registers div:first-child{
		margin-left: 0;
	}
	.focus-input100::after{
		left: 2rem;
		top: 1.8rem;
	}
	.validate-input{
		padding: 1rem 0;
	}
	.login100-form-btn{
		background-image: var(--bgc-linear);
		box-shadow: 0 0.6rem 0.2rem #eee;
	}
	.focus-input100::before {
		background: var(--bgc-linear)
		
	}
	.continue-login{
		position: relative;
    	z-index: 1;
		text-align: center;
		margin: 0.8rem 0;
	}
	.continue-login{
		position: relative;
		text-align: center;
		margin: 1rem 0;
	}
	.continue-login::before{
	position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.5px;
    width: 100%;
    border-top: 1px solid #ccc;
    content: "";
	z-index: -1;
	}
	.continue-login > span{
		background-color: #fff;
		padding: 0 1rem;
	}